version: "3.8"

services:
  whatsapp:
    build: .
    container_name: whatsapp-otp
    restart: unless-stopped
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
      - PORT=3002
    volumes:
      - ./wwebjs_auth:/app/.wwebjs_auth
    shm_size: 512mb